body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  padding: 0 5%;
}

nav img {
  width: 25%;
}

.img {
  margin: 20px 0;
}

.img img {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.hr-under-title {
  text-align: left;
  width: 250px;
  height: 4px;
}

.about-us {
  font-size: 22px;
  text-align: justify;
}

.contact-us a,
.contact-us p {
  font-size: 20px;
  text-align: left;
  margin: 10px 0;
  display: inline-block;
}

.pad-bot {
  padding-bottom: 5px;
}

.review-box-holder {
  padding: 5%;
  margin-bottom: 10px;
}

.review-box {
  border-radius: 20px;
  border: 2px solid #4db6ac;
  padding: 5%;
}

.add-loc {
  font-size: 25px;
  line-height: 35px;
}

.map {
  padding: 10px;
  border-radius: 25px;
}

.map iframe {
  width: 100%;
  border-radius: 25px;
  height: 350px;
}

.card-image img {
  height: 250px;
}

.card-content .para-card {
  display: inline-block;
  height: 200px;
  
}

.modal-box {
  border-radius: 25px;
  margin-top: 10%;
  padding: 20px;
}

.modal-box p{
  border-radius: 25px;
  font-size: 18px;
}


.card {
  overflow: hidden;
}

.our-services{
  margin: 40px 0;
}

.home-service {
  position: relative;
}

.service-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #4db6ac;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10%;
  padding-bottom: 15%;
}

.service-book {
  position: absolute;
  bottom: 10%;
  right: 17.5%;

}

.flash-box {
  border-radius: 15px;
  border: 3px solid #795548;
}

#address {
  display: none;
}

.login-page {
  border: 2px solid #4db6ac;
  padding: 30px 15px;
  border-radius: 20px;
  margin: 30px auto;
  }

.register-btn-1 {
  text-align: right;
}

.register-btn-2 {
  text-align: left;
} 

.user-text {
  margin-top: 10px;
  display: block;
  font-size: 18px;
}

.cancel-order {
  display: none;
}

.input-group {
  position: relative;
}

.input-group-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
}

.active {
  font-weight: bolder;
  color: #4db6ac;
  font-size: 17px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating input {
  display: none;
}

.rating .star-label {
  cursor: pointer;
  font-size: 35px;
}

.rating .star-label::before {
  content: '\2605'; 
}

.rating input:checked ~ .star-label:before {
  color: goldenrod; 
}

@media (max-width: 993px) {

  nav img {
    width: 60%;
    margin-left: 25%;
    margin-top: 10px;
  }

  .title {
    margin-top: 0;
  }


}

@media (max-width: 450px) {

  nav img {
    width: 75%;
    margin-left: 17.5%;
  }

  .about-us {
    font-size: 20px;
    text-align: left;
  }

  .contact-us a,
  .contact-us p {
    font-size: 15px;
    text-align: left;
  }

  .register-btn-1 ,
  .register-btn-2 {
    text-align: center;
    margin-bottom: 10px;
    transform: scale(.8);
  } 
}