<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <title>Benni Auto</title>
</head>

<body>
  <header>
    <!-- navbar -->
    <nav class="brown lighten-1">
      <div class="nav-wrapper">
        <a href="{{ url_for('home') }}" class="brand-logo">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="brand-logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="{% if active == 'home' %}active{% endif %}" href="{{ url_for('home') }}">Home</a></li>
          <li><a class="{% if active == 'services' %}active{% endif %}" href="{{ url_for('services') }}">Services</a>
          </li>
          <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
          {% if session['user_login'] %}
          <li><a class="{% if active == 'login' %}active{% endif %}" href="{{ url_for('logout') }}">Log out</a></li>
          <li><a href="{{ url_for('orders') }}" class="waves-effect waves-light btn">Book Now</a></li>
          {% else %}
          <li><a class="{% if active == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Login/Register</a>
          </li>
          <li><a href="{{ url_for('login') }}" class="waves-effect waves-light btn">Book Now</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- sidenav -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('services') }}">Services</a></li>
      <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
      {% if session['user_login'] %}
      <li><a href="{{ url_for('logout') }}">Log out </a></li>
      <li><a href="{{ url_for('orders') }}">Book Now</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}">Login/Register </a></li>
      <li><a href="{{ url_for('login') }}">Book Now</a></li>
      {% endif %}
    </ul>

  </header>



  <main class="container">

    {% if session['user_login'] == True %}
    <strong class="brown-text user-text">Hi {{ session['user_fname'] }}{% if session['is_admin'] %}, You are logged in
      as ADMIN{% endif %}</strong>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>



  <footer class="page-footer brown lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 center-align">
          <a href="{{ url_for('home') }}" class="brand-logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" style="width: 100%;">
          </a>
          <p class="grey-text text-lighten-4">Benni Auto Services is your premier destination for comprehensive
            automotive solutions.
            Our expert technicians provide high-quality repair,
            maintenance, and diagnostic services to keep your vehicle in optimal condition.</p>
        </div>
        <div class="col l4 offset-l2 s12 center-align">
          <h4 class="brown-text text-darken-4"><strong>Links</strong></h4>
          <ul>
            <li><a href="{{ url_for('home') }}" class="grey-text text-lighten-3 large">
                <h6>Home</h6>
              </a></li>
            <li><a href="{{ url_for('services') }}" class="grey-text text-lighten-3">
                <h6>Services</h6>
              </a></li>
            <li><a href="{{ url_for('home') }}#contact" class="grey-text text-lighten-3">
                <h6>Contact</h6>
              </a></li>
            <li><a href="{{ url_for('reviews') }}" class="grey-text text-lighten-3">
                <h6>Reviews</h6>
              </a></li>
            {% if session['user_login'] %}
            <li><a href="{{ url_for('logout') }}" class="grey-text text-lighten-3">
                <h6>Log out</h6>
              </a></li>
            <li><a href="{{ url_for('orders') }}" class="btn teal lighten-1" style="margin-top: 5px;">Book Now</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}" class="grey-text text-lighten-3">
                <h6>Login/Register</h6>
              </a></li>
            <li><a href="{{ url_for('login') }}" class="btn teal lighten-1" style="margin-top: 5px;">Book Now</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
        Milestone Project 3, Designed and Developed by Behnam Pordavam Dec-2023
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
  {% block extra_js %}
  {% endblock %}

</body>

</html>