{% extends "base.html" %}
{% block content %}
<h3 class="brown-text center-align">Cancel Order</h3>


<div class="row card-panel brown lighten-5 our-services">
    <form class="col s12" method="POST" action="{{ url_for('cancel_order', order_id=order.id) }}">

        <div class="cancel-order">

            <!-- Service id -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tools prefix teal-text text-lighten-2"></i>
                    <select id="service_id" name="service_id" class="validate brown-text" required>
                        <option value="" disabled selected>Choose Services</option>
                        {% for service in services %}
                        {% if service == order.service %}
                        <option value="{{ service.id }}" selected>{{ service.service_name }}</option>
                        {% else %}
                        <option value="{{ service.id }}">{{ service.service_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="service_id">Service Category</label>
                </div>
            </div>

            <!-- Order Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-exclamation prefix teal-text text-lighten-2"></i>
                    <input id="order_title" name="order_title" value="{{ order.order_title }}" minlength="5"
                        maxlength="25" type="text" class="validate brown-text" required>
                    <label for="order_title">Order Title</label>
                </div>
            </div>

            <!-- Car Brand -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-car prefix teal-text text-lighten-2"></i>
                    <select id="car_type" name="car_type" class="validate brown-text" required>
                        <option value="" disabled selected>Choose Car Brand</option>
                        {% with cars = ['Ford','Vauxhall','Volkswagen','BMW','Mercedes-Benz','Toyota','Audi','Renault','Mini','Suzuki','Peugeot','Hyundai','Nissan','Citroën','Honda','Skoda','Volvo','Fiat','SEAT','Mazda','Mitsubishi','Dacia','Lexus','Kia','Land-Rover','Porsche','MG','Smart','Jaguar','Other'] %}
                        {% for car in cars %}
                        {% if car == order.car_type %}
                        <option value="{{ order.car_type }}" selected>{{ order.car_type }}</option>
                        {% else %}
                        <option value="{{ car }}">{{ car }}</option>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </select>
                    <label for="car_type">Car Brand</label>
                </div>
            </div>

            <!-- Request date -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix teal-text text-lighten-2"></i>
                    <input id="request_date" name="request_date" value="{{ order.request_date.strftime('%d %B %Y') }}"
                        type="text" class="datepicker validate" required>
                    <label for="request_date">Request Date</label>
                </div>
            </div>

            <!-- Need Recover -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix teal-text text-lighten-2"></i>
                        <label for="need_recovery">
                            {% if order.need_recovery == True %}
                            <input id="need_recovery" name="need_recovery" type="checkbox" checked>
                            {% else %}
                            <input id="need_recovery" name="need_recovery" type="checkbox">
                            {% endif %}
                            <span class="lever"></span>
                            Need Recovery
                        </label>
                    </div>
                </div>
            </div>


            <div id="address">
                <!-- User Address -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-compass prefix teal-text text-lighten-2"></i>
                        <input id="user_postcode" name="user_postcode" value="{{ order.user_postcode }}" minlength="5"
                            maxlength="12" type="text" placeholder="Example: WD17 3EZ" class="validate brown-text"
                            >
                        <label for="user_postcode">Post Code</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-home prefix teal-text text-lighten-2"></i>
                        <input id="user_address" name="user_address" value="{{ order.user_address }}" minlength="10"
                            maxlength="80" type="text" placeholder="Example: 8 Hempstead Rd, Watford"
                            class="validate brown-text">
                        <label for="user_address">Address/Flat No.</label>
                    </div>
                </div>
            </div>

            <!-- User Phone -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone prefix teal-text text-lighten-2"></i>
                    <input id="user_phone" name="user_phone" value="{{ order.user_phone }}" minlength="5" maxlength="12"
                        type="text" placeholder="Example: 07891234567" class="validate brown-text" required>
                    <label for="user_phone">Phone Number</label>
                </div>
            </div>

        </div>

        <!-- Cancel Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix teal-text text-lighten-2"></i>
                <textarea id="order_description" name="order_description" minlength="8" maxlength="500"
                    class="materialize-textarea validate brown-text" required></textarea>
                <label for="order_description">Cancel Description</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large teal lighten-2">
                    Cancel Order <i class="fas fa-check right"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}