{% extends "base.html" %}
{% block content %}

<h3 class="brown-text center-align our-services">Service Orders</h3>
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_order') }}" class="btn-large teal lighten-2">
            Book A New Appointment <i class="fas fa-plus right"></i>
        </a>
    </div>
</div>


<ul class="collapsible popout">
    {% for order in orders|sort(attribute="request_date") %}
    <li>
        <div class="row collapsible-header brown-text brown lighten-5">
            <div class="col m4 s12">
                <i class="fas fa-level-down-alt"></i>
                <strong>{{ order.request_date.strftime("%d %B, %Y") }}</strong>{% if order.is_cancel %} <strong
                    class="amber-text text-darken-4">Canceled</strong> {% endif %}
            </div>
            <div class="col m4 s12 center-align">
                {% if order.need_recovery == True %}
                <i class="fas fa-truck-loading teal-text text-lighten-2"></i>
                {% endif %}
                <strong>{{ order.order_title }}</strong>
            </div>
            <div class="col m4 s12 center-align">
                <strong>{{ order.user.first_name }} {{ order.user.last_name }}</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <span class="brown-text">Car Brand: </span><strong>{{ order.car_type }}</strong><br>
            <p class="brown-text">Service Category: <strong
                    class="teal-text text-lighten-2">{{ order.service }}</strong></p>
            {% if order.is_cancel %}
            <p class="brown-text">Cancel Description: <strong class="amber-text text-darken-4">{{ order.order_description }}</strong></p>
            {% else %}
            <p class="brown-text">Order Description: <strong
                    class="teal-text text-lighten-2">{{ order.order_description }}</strong></p>
            {% endif %}
            {% if order.need_recovery == True %}
            <span class="brown-text">Picking up Address: </span><strong>{{ order.user_address }} ,
                {{ order.user_postcode }}</strong><br>
            {% endif %}
            <span class="brown-text">User Phonr No.: </span><strong>{{ order.user_phone }}</strong><br>
            <p>
                {% if order.is_cancel %}
                <a href="{{ url_for('add_order') }}" class="btn teal lighten-2">Book A New Appointment</a>
                {% else %}
                <a href="{{ url_for('edit_order' , order_id = order.id) }}" class="btn teal lighten-2">Edit Order</a>
                <a href="{{ url_for('cancel_order' , order_id = order.id) }}" class="btn brown lighten-2">Cancel Order</a>
                {% endif %}
                {% if session['is_admin'] %}
                <a href="#modal-{{ order.id }}" class="btn brown right  modal-trigger">Delete Order</a>
                {% endif %}
            </p>
        </div>
    </li>


    <!-- Modal -->
    <div id="modal-{{ order.id }}" class="modal modal-box brown lighten-5 brown-text">
        <div class="modal-content">
            <h4>Are you sure you want to delete order: {{ order.order_title }}?</h4>
            <p><i class="fa fa-exclamation-circle"></i> This action cannot be undone.</p>
        </div>
        <div class="progress brown">
            <div class="indeterminate"></div>
        </div>
        <div class="modal-footer brown lighten-5">
            <a href="{{ url_for('delete_order', order_id=order.id) }}" class="btn brown">Delete Order</a>
            <a href="{{ url_for('orders') }}" class="btn teal lighten-2">Cancel</a>
        </div>
    </div>

    {% endfor %}
</ul>






{% endblock %}