{% extends "base.html" %}
{% block content %}

<h3 class="brown-text center-align our-services">Our Services</h3>

{% if session['is_admin'] %}
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_service') }}" class="btn-large teal lighten-2">
            Add A New Service <i class="fas fa-plus right"></i>
        </a>
    </div>
</div>
{% endif %}

<div class="row">
    {% for service in services %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                {% if service.image_url == "" %}
                <img src="{{ url_for('static', filename='images/no-image.jpg') }}" alt="service-photo">
                {% else %}
                <img src="{{ service.image_url }}">
                {% endif %}
            </div>
            <div class="card-content">
                <span class="card-title">{{ service.service_name }}</span>
                <hr>
                <p class="para-card">{{ service.service_description }}</p>
            </div>

            <div class="card-action">
                {% if session['user_login'] %}
                <a href="{{ url_for('add_order') }}" class="waves-effect waves-light btn {% if session['is_admin'] %}right{% endif %}">Book Now</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="waves-effect waves-light btn {% if session['is_admin'] %}right{% endif %}">Book Now</a>
                {% endif %}
                {% if session['is_admin'] %}
                <a href="{{ url_for('edit_service' , service_id = service.id) }}" class="btn lime darken-4">Edit</a>
                <a href="#modal-{{ service.id }}" class="btn brown modal-trigger">Delete</a>
                {% endif %}
            </div>

        </div>

    </div>

    <!-- Modal -->
    <div id="modal-{{ service.id }}" class="modal modal-box brown lighten-5 brown-text">
        <div class="modal-content">
            <h4>Are you sure you want to delete {{ service.service_name }}?</h4>
            <p><i class="fa fa-exclamation-circle"></i> This action cannot be undone.</p>
        </div>
        <div class="progress brown">
            <div class="indeterminate"></div>
        </div>
        <div class="modal-footer brown lighten-5">
            <a href="{{ url_for('delete_service' , service_id = service.id) }}" class="btn brown">Delete</a>
            <a href="{{ url_for('services') }}" class="btn teal lighten-2">Cancel</a>
        </div>
    </div>

    {% endfor %}
</div>



{% endblock %}